.container {
    display: grid;
    grid-template-rows: 3fr 95vh;
}

.reset-button {
    text-align: center;

}

.board-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-area: 2 / -3;
    text-align: center;
}

.board-container > div {
    border: 1px solid black;
}